/* Footer */
#footer {
    padding: 15px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: "Lucida Handwriting", cursive;
  }
  
  #footer-content {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  #footer-content a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
  }
  
  #icons {
    display: flex;
    gap: 20px;
    font-size: 23px;
  }
  
  #copyright {
    font-size: 17px;
  }