* {
  padding: 0;
  margin: 0;
  border: border-box;
}

body {
  background-color: #fecd45;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* ---------------------------------------------------------------- */

#wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 90px;
}

/* Nav Bar container */
#container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  background-color: #fecd45;
  margin-right: 30px;
  margin-left: 30px;
}

#logo {
  cursor: pointer;
  font-family: "Lucida Handwriting", cursive;
  font-size: 50px;
}

#nav-content {
  display: flex;
  gap: 25px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
}

.contents {
  text-decoration: none;
  cursor: pointer;
  color: black;
  border-bottom: 1px solid black;
}

#nav-content #profile {
  text-decoration: none;
  cursor: pointer;
  border-radius: 45px;
  color: white;
  background-color: #2568fb;
  border: none;
  padding: 0px 10px 0px 10px;
  height: 33.5px;
}

/* ---------------------------------------------------------------- */

/* Main body */
#main-body {
  background-color: #fecd45;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#main-image {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0.5, 0.5, 0.5, 0.5);
  background-image: url('../images/avatar.jpg');
  background-size: cover;
}

#main-text {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 75px;
  font-family: "Paytone One", sans-serif;
  font-weight: 100;
}

/* ---------------------------------------------------------------- */

/* Get started and sign up */
#get-started-text {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #fe7145;
  font-size: 55px;
  font-family: "Paytone One", sans-serif;
  cursor: pointer;
}

/* ---------------------------------------------------------------- */

