* {
  padding: 0;
  margin: 0;
  border: border-box;
}

body {
  background-color: #172d13;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* ---------------------------------------------------------------- */

#wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Main Title */
#main-text {
  font-size: 50px;
  font-family: "Paytone One", sans-serif;
  text-align: center;
  /* margin: 35px 0px 35px 0px; */
  color: white;
}

/* ---------------------------------------------------------------- */

/* Main Container */
#container {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.button {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 255);
  color: #d76f30;
  border-radius: 50%;
}

.button .arrow {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

#left-arrow {
  padding-right: 9px;
}

#right-arrow {
  padding-left: 9px;
}

#image {
  height: 470px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 5px rgba(1, 1, 1, 1);
  background-size: cover;
}

.stack {
  position: absolute;
  height: 440px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #fecd45;
  filter: blur(10px);
}

.slide-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.slider {
  -webkit-appearance: none;
  border-radius: 40px;
  width: 300px;
  /* Full-width */
  height: 17px;
  /* Specified height */
  background: #6bb77b;
  /* Grey background */
  outline: none;
  /* Remove outline */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 17px;
  width: 10px;
  background: black;
}

#rating-check {
  height: 60px;
  gap: 30px;
  display: flex;
  align-items: center;
}

#rating-value {
  gap: 10px;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  background-color: #fecd45;
  border-radius: 10px;
  border: none;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  margin-top: 5px;
}

#submit {
  background-color: #6bb77b;
  border: none;
  border-radius: 10px;
  font-size: 45px;
  font-weight: 700;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(1, 1, 1, 1);
  cursor: pointer;
}

/* ---------------------------------------------------------------- */
