* {
  padding: 0;
  margin: 0;
  border: border-box;
}

body {
  background-color: #9daaf2;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

/*----------------------------------------------------------------*/

/* Main container */
#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  background-color: #f4db7d;
  font-size: 65px;
  height: 100px;
  font-family: "Paytone One", sans-serif;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}

#profile-card {
  background-color: #1a2238;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px;
  border-radius: 0px 0px 10px 10px;
}

#image {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  background-color: white;
  position: relative;
  background-size: cover;
}

#edit-image {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: center;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f4db7d;
  font-family: "Lato", sans-serif;
}

#details-container {
  background-color: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#details-container #name {
  font-size: 70px;
  font-family: "Paytone One", sans-serif;
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
}

#details-container #name #name-edit {
  cursor: pointer;
  font-size: 50px;
}

#details-container .uname-and-rating-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.uname-and-rating-wrapper #uname {
  border-radius: 20px;
  background-color: #f4db7d;
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uname-and-rating-wrapper #uname:hover {
  background-color: black;
  color: #f4db7d;
}

#uname #uname-value {
  font-size: 50px;
  font-family: "Paytone One", sans-serif;
}

.uname-and-rating-wrapper .rating {
  border-radius: 20px;
  background-color: #f4db7d;
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.uname-and-rating-wrapper .rating .rating-title {
  font-family: "Lucida Handwriting", cursive;
  font-size: 19px;
  margin-bottom: -15px;
}

.uname-and-rating-wrapper .rating .rating-value {
  font-family: "Paytone One", sans-serif;
  font-size: 50px
}

/*----------------------------------------------------------------*/

/* 'Changing Profile Picture' pop-up */
#image-upload.active #overlay {
  display: block;
}

#image-upload.active #profile-content {
  transform: translate(-50%, -50%) scale(1);
  transition: all 500ms ease;
}

#image-upload #overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: none;
}

#image-upload #profile-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 500px;
  height: 620px;
  z-index: 2;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#profile-content #profile-title {
  width: 100%;
  background-color: #f4db7d;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Paytone One", sans-serif;


}

#profile-content #icon-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  font-size: 2em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
}

#profile-content #preview-image {
  height: 450px;
  width: 422px;
  border: solid black 1px;
  border-radius: 10px;
}

#profile-content #image-upload-form {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
}

/* We cannot customize input[type="file"]'s properties which is why I am creating a label
  and editing its properties while hiding the deafult input[type="file"]'s behaviour*/
input[type="file"] {
  display: none;
}

/* Label for file-type input */
#custom-image-upload {
  border: none;
  cursor: pointer;
  background-color: #f4db7d;
  font-size: 22px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  align-content: center;
  font-family: "Paytone One", sans-serif;
  box-shadow: 2px 2px 5px rgba(0.1, 0.1, 0.1, 0.1);
}

#image-submit {
  background-color: #9daaf2;
  font-size: 22px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-content: center;
  font-family: "Paytone One", sans-serif;
  box-shadow: 0px 0px 5px rgba(0.1, 0.1, 0.1, 0.1);
}